<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/show-files.css"> <!--引用外部css-->

    <link rel="stylesheet" href="/layui/css/layui.css"> <!--引用layui css-->
    <script src="/layui/layui.js" charset="utf-8"></script> <!--引用layui js-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> <!--引入chart.js-->
    <style>
        .layui-table-cell{
            height: auto;
            width: auto;
        }
    </style>


</head>
<body>

<div class="header">
    <i class="layui-icon" style="color: #007bff;font-weight: bold">&#xe62c; <span id="titleText"></span></i>

</div>

<div class="bodyleft" style="width: 90%; height: 300px;background-color: #ffffff;margin-left: 5%;float: left;margin-top: 2%;">

    <div style="margin-top: 1%; padding-left: 1%; padding-right: 1%">

        <!--數據表格開始-->
        <table class="layui-hide" id="userTable" lay-filter="userTable">

        </table>
        <!--數據表格結束-->
    </div>

    <div id="userBar" style="display: none;"> <!--display:none 預設不會顯示 要透過script顯示-->

        <a class="layui-btn layui-btn-xs" lay-event="download">下載</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">刪除</a>

    </div>

</div>

<script type="text/html" id="imgtemp">
    <div><img src="{{d.url}}" style="width:20px;height:20px"></div>
</script>

<script>

    layui.use(['element','jquery','layer','form','table','laydate'],function () {
        var $ = layui.jquery;
        var table = layui.table;

        var tableIns; //數據表格

        reloadTable(); //讀取表格
        refreshPage(); //更新標題字段


        //獲取Cookie
        function getCookie(keyName) {
            if(document.cookie.length > 0) {
                c_start = document.cookie.indexOf(keyName + "=");//獲取字串的起點
                if(c_start != -1) {
                    c_start = c_start + keyName.length + 1;//獲取值的起點
                    c_end = document.cookie.indexOf(";", c_start);//獲取結尾處
                    if(c_end == -1) c_end = document.cookie.length;//如果是最後一個,結尾就是cookie字串的結尾
                    return decodeURI(document.cookie.substring(c_start, c_end));//擷取字串返回
                }
            }
            return "";
        }

        //更新頁面
        function refreshPage() {
            console.log(getCookie("showFilePageNumber"));

            if(getCookie("showFilePageNumber") == 1){
                $("#titleText").text("我的文件");
            } else if(getCookie("showFilePageNumber") == 2){
                $("#titleText").text("我的圖片");
            } else if(getCookie("showFilePageNumber") == 3){
                $("#titleText").text("我的影片");
            } else if(getCookie("showFilePageNumber") == 4){
                $("#titleText").text("我的音樂");
            } else if(getCookie("showFilePageNumber") == 5){
                $("#titleText").text("其他文件");
            } else if(getCookie("showFilePageNumber") == 6){
                $("#titleText").text("所有檔案");
            }

        }

        //更新表格
        function reloadTable() {
            tableIns = table.render({
                elem:'#userTable'  //渲染的目標對象
                ,url:'/autoSortFile/reloadTable/' + getCookie("showFilePageNumber") //API
                ,dataType:"json"
                ,type:'post'
                ,title:'使用者數據表' //數據導出的標題
                ,text:"無數據"
                ,cellMinWidth:'100' //設置列的最小預設寬度
                ,done:function (res,curr,count) {

                    //沒有數據時的顯示結果
                    if (res.count == 0)
                    {
                        $(".layui-table-main").html('<div class="layui-none layui-icon">目前無檔案</div>');
                    }

                    //動態調整背後白色背景
                    $(".bodyleft").height(120 +res.data.length * 75);

                }
                ,page: false //是否啟用分頁
                ,cols: [ //不要用[ [ ] ] ，把括號分開，避免被thymeleaf誤判成表達式，連這個註解都不準這樣用。
                    [ //列表數據
                    {field:'imagePath', title:'',align: 'center', templet:function (d) { //d為該次Json數據返回值
                        return '<div>' + '<img src="' + d.imagePath +'"></div>'; //拼接模板
                        }
                      }
                    ,{field:'fileName', title:'檔案名稱',align: 'center'}
                    ,{field:'postfix', title:'副檔名',align: 'center'}
                    ,{field:'size', title:'檔案大小', align:"center"}//align:表示位置 //edit表示是否可以對表格直接編輯
                    ,{field:'fileType', title:'檔案類型',align:"center"}
                    // ,{field:'downloadTime', title:'下載次數', align: 'center'}
                    ,{fixed: 'right', title: '操作', toolbar: '#userBar', align: 'center'}
                ]
                ]
            });
        }

        //監聽行工具事件
        table.on("tool(userTable)",function (obj) {

            var data = obj.data;
            var layEvent = obj.event;

            if(layEvent === 'download'){
                downloadFile(data.fileName);

            }else if(layEvent === 'delete'){
                deleteFile(data.fileName);
            }
        });

        function downloadFile(fileName) {
            window.location.href="/autoSortFile/download/" + fileName;
            reloadTable();
        }

        function deleteFile(fileName) {

            $.ajax({
                url:'/autoSortFile/delete/' + fileName
                ,dataType:"json"
                ,type:'post'
                ,success(response){
                },error(){

                }
            });

            reloadTable();
        }

    });

</script>


</body>
</html>