<!DOCTYPE html>
<html lang="en" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <title>首頁</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <link rel="stylesheet" href="/static/css/index.css">

    <link rel="stylesheet" href="/libs/layui/css/layui.css"> <!--引用layui css-->
    <script src="/libs/layui/layui.js"></script> <!--引用layui js-->
</head>
<body>

    <p style="font-size: 1px; color: #e66465">該物件用於渲染背景</p> <!--需要有一個物件，才能觸發渲染背景顏色-->

    <div class="main">

        <div class="main-header">
            <img src="/static/images/login.png">
        </div>

        <div class="main-body">

            <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" id="loginBtn">使用者登錄</button>
            <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" id="registerBtn">使用者註冊</button>

        </div>

        <div class="main-form">
            <form class="layui-form layui-form-pane" id="userForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">帳號</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="請輸入帳號" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密碼</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" placeholder="請輸入密碼" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" id="checkPasswordDiv" hidden>
                    <label class="layui-form-label">確認密碼</label>
                    <div class="layui-input-inline">
                        <input type="password" name="passwordAgain" placeholder="再次輸入密碼" class="layui-input">
                    </div>
                </div>

                <button type="button" class="layui-btn layui-btn-danger layui-btn-radius" style="width: 200px" id="submitBtn">進行登錄</button>
            </form>
        </div>


    </div>


    <script type="text/javascript">
        'use strict';
        var state = 'login';

        //引用layui模組
        layui.use(['element','jquery','form'],function () {

            var $ = layui.jquery;
            var form = layui.form;


            //提交按扭事件
            $("#submitBtn").click(function () {
                var param = $("#userForm").serialize();
                console.log(param);

                if(state === 'login'){
                    //如果是選擇登入
                    $.ajax({
                        url:"/user/login",
                        dataType:"text",
                        contentType:"application/x-www-form-urlencoded",
                        type:"post",
                        data:param,
                        success:function (response) {
                            alert("成功了");
                        },
                        error(){
                            alert("出錯了");
                        }
                    });

                }else if(state === 'register'){
                    //如果是選擇註冊
                    $.ajax({
                        url:"/user/register",
                        dataType:"text",
                        contentType:"application/x-www-form-urlencoded",
                        type:"post",
                        data:param,
                        success:function (response) {
                            alert("成功了");
                        },
                        error(){
                            alert("出錯了");
                        }
                    });
                }

            });


            //登錄按扭事件
            $("#loginBtn").click(function () {
                state = 'login';
                $("#checkPasswordDiv").hide();
                $("#submitBtn").text("進行登錄");
            });

            //註冊按扭事件
            $("#registerBtn").click(function () {
                state = 'register';
                $("#checkPasswordDiv").show();
                $("#submitBtn").text("進行註冊");
            });

        });

    </script>

</body>
</html>