<!DOCTYPE html>
<html lang="en">
<head>
    <title>雲端空間管理</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <link rel="stylesheet" href="/static/css/index.css"> <!--引用外部css-->

    <link rel="stylesheet" href="/libs/layui/css/layui.css"> <!--引用layui css-->
    <script src="/libs/layui/layui.js"></script> <!--引用layui js-->
</head>
<body>

    <p style="font-size: 1px; color: #e66465">該物件用於渲染背景</p> <!--需要有一個物件，才能觸發渲染背景顏色-->

    <div class="main">

        <div class="main-header">
            <img src="/static/images/login.png">
        </div>

        <div class="main-body">

            <button type="button" class="layui-btn layui-btn-normal layui-btn-radius" id="loginBtn">使用者登錄</button>
            <button type="button" class="layui-btn layui-btn-warm layui-btn-radius" id="registerBtn">使用者註冊</button>

        </div>

        <div class="main-form">
            <form class="layui-form layui-form-pane" id="userForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">帳號</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" id="usernameText" placeholder="請輸入8~30個字母" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">密碼</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" id="passwordText" placeholder="請輸入8~30個字母" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" id="checkPasswordDiv" hidden>
                    <label class="layui-form-label">確認密碼</label>
                    <div class="layui-input-inline">
                        <input type="password" name="passwordAgain" id="passwordAgainText" placeholder="再次輸入密碼" class="layui-input">
                    </div>
                </div>

                <button type="button" class="layui-btn layui-btn-danger layui-btn-radius" style="width: 200px" id="submitBtn">進行登錄</button>
            </form>
        </div>


    </div>


    <script type="text/javascript">
        'use strict';
        var state = 'login';

        //引用layui模組
        layui.use(['element','jquery','form'],function () {

            var $ = layui.jquery;
            var form = layui.form;


            function clearInputText(){
                $("#usernameText").val("");
                $("#passwordText").val("");
                $("#passwordAgainText").val("");
            }

            //提交按扭事件
            $("#submitBtn").click(function () {
                var param = $("#userForm").serialize();
                checkGoCloudManagement(); //先確認是否已經登錄了，如果已經登錄就轉發。
                //console.log(param);

                if(state === 'login'){
                    //如果是選擇登入

                    //檢查輸入資料格式
                    if($("#usernameText").val().length < 8 || $("#passwordText").val().length < 8 ||
                       $("#usernameText").val().length > 30 || $("#passwordText").val().length > 30){
                        layer.msg("輸入格式錯誤，須為8~30個字母");
                        return false;
                    }

                    //向後台進行登錄確認
                    $.ajax({
                        url:"/user/login",
                        dataType:"json",
                        contentType:"application/x-www-form-urlencoded",
                        type:"post",
                        data:param,
                        success:function (response) {
                            console.log(response)
                            if(response.resultCode == 200){
                                layer.msg("登入失敗，請確認帳號密碼正確");
                            }else{
                                checkGoCloudManagement();
                            }
                        },
                        error(){
                            alert("系統維護中");
                        }
                    });

                }else if(state === 'register'){
                    //如果是選擇註冊

                    //檢查輸入資料格式
                    if($("#usernameText").val().length < 8 || $("#passwordText").val().length < 8 || $("#passwordAgainText") < 8 ||
                       $("#usernameText").val().length > 30 || $("#passwordText").val().length > 30 || $("#passwordAgainText") > 30){
                        layer.msg("輸入格式錯誤，須為8~30個字母");
                        return false;
                    }

                    //向後台進行註冊確認
                    $.ajax({
                        url:"/user/register",
                        dataType:"json",
                        contentType:"application/x-www-form-urlencoded",
                        type:"post",
                        data:param,
                        success:function (response) {
                            if(response.resultCode == 100){
                                layer.msg("註冊成功");
                                checkGoCloudManagement();
                            }else if(response.resultCode == 200){
                                layer.msg("註冊失敗，密碼不符合，或該帳號已經被使用");
                            }
                        },
                        error(){
                            alert("系統維護中");
                        }
                    });
                }
                clearInputText();

            });


            //登錄按扭事件
            $("#loginBtn").click(function () {
                state = 'login';
                $("#checkPasswordDiv").hide();
                $("#submitBtn").text("進行登錄");
                clearInputText();
            });

            //註冊按扭事件
            $("#registerBtn").click(function () {
                state = 'register';
                $("#checkPasswordDiv").show();
                $("#submitBtn").text("進行註冊");
                clearInputText();
            });
            
            function checkGoCloudManagement() {
                $.ajax({
                    url:"/router/checkGoCloudManagement",
                    datatype:"html",
                    type:"post",
                    success:function (response) {
                        document.write(response);
                    },
                    error(){
                        alert("系統維護中");
                    }
                });
            }

        });

    </script>

</body>
</html>